In [6]:
from nsepy import get_history
from datetime import date
import pandas

In [33]:
nifty_opt = get_history(symbol="SBIN", start=date(2014,1,1),
                        end=date(2019,3,29),
                        index=True,
                        option_type='CE',
                        strike_price=300,
                        expiry_date=date(2019,3,29))

In [34]:
nifty_opt

Empty DataFrame
Columns: [Symbol, Expiry, Option Type, Strike Price, Open, High, Low, Close, Last, Settle Price, Number of Contracts, Turnover, Premium Turnover, Open Interest, Change in OI, Underlying]
Index: []

In [31]:
stock_opt = get_history(symbol="SBIN",
start=date(2015,1,1),
end=date(2015,1,10),
option_type="CE",
strike_price=300,
expiry_date=date(2015,1,29))

In [32]:
stock_opt

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2015-01-01,SBIN,2015-01-29,CE,300.0,18.95,21.15,18.95,20.85,20.95,20.85,44,17631000.0,NaN,310000,-10000,314.00
2015-01-02,SBIN,2015-01-29,CE,300.0,21.50,23.90,21.35,21.45,21.40,21.45,84,33889000.0,NaN,301250,-8750,315.25
2015-01-05,SBIN,2015-01-29,CE,300.0,21.00,21.00,18.60,18.60,18.60,18.60,47,18775000.0,NaN,307500,6250,312.75
2015-01-06,SBIN,2015-01-29,CE,300.0,16.10,16.80,10.50,11.05,11.20,11.05,328,127846000.0,NaN,441250,133750,299.90
2015-01-07,SBIN,2015-01-29,CE,300.0,11.05,12.50,9.00,11.25,11.85,11.25,1512,587993000.0,NaN,841250,400000,300.15
2015-01-08,SBIN,2015-01-29,CE,300.0,13.50,13.85,11.90,12.80,13.00,12.80,629,245972000.0,NaN,748750,-92500,304.85
2015-01-09,SBIN,2015-01-29,CE,300.0,13.70,14.20,10.50,11.35,11.05,11.35,448,174737000.0,NaN,752500,3750,303.20

In [30]:
get_history(symbol="NIFTY",
                     start=date(2016,4,1), 
                     end=date(2016,4,22),
                     index=True,
                     option_type="CE",
                     strike_price=7450,
                     expiry_date=date(2016,4,28))

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2016-04-01,NIFTY,2016-04-28,CE,7450.0,0.00,0.00,0.00,347.05,347.05,366.30,0,0.0,0.0,75,0,7713.05
2016-04-04,NIFTY,2016-04-28,CE,7450.0,0.00,0.00,0.00,347.05,347.05,386.30,0,0.0,0.0,75,0,7758.80
2016-04-05,NIFTY,2016-04-28,CE,7450.0,338.70,340.00,232.00,233.00,232.00,233.00,81,46920000.0,1662000.0,1125,1050,7603.20
2016-04-06,NIFTY,2016-04-28,CE,7450.0,242.00,245.70,221.00,239.95,240.45,239.95,17,9803000.0,304000.0,1275,150,7614.35
2016-04-07,NIFTY,2016-04-28,CE,7450.0,222.00,227.00,171.25,176.05,175.65,176.05,59,33838000.0,872000.0,1800,525,7546.45
2016-04-08,NIFTY,2016-04-28,CE,7450.0,171.20,189.05,166.50,178.70,177.60,178.70,95,54351000.0,1270000.0,3075,1275,7555.20
2016-04-11,NIFTY,2016-04-28,CE,7450.0,182.00,274.05,144.50,265.05,259.80,265.05,372,213437000.0,5582000.0,7275,4200,7671.40
2016-04-12,NIFTY,2016-04-28,CE,7450.0,263.70,294.30,262.15,293.10,293.65,293.10,56,32461000.0,1171000.0,5250,-2025,7708.95
2016-04-13,NIFTY,2016-04-28,CE,7450.0,398.30,442.15,391.60,413.75,413.00,413.75,46,27141000.0,1438000.0,4350,-900,7850.45
2016-04-18,NIFTY,2016-04-28,CE,7450.0,440.75,440.80,440.75,440.80,440.80,440.80,3,1775000.0,99000.0,4125,-225,7914.70
2016-04-20,NIFTY,2016-04-28,CE,7450.0,0.00,0.00,0.00,440.80,440.80,478.05,0,0.0,0.0,4125,0,7914.75
2016-04-21,NIFTY,2016-04-28,CE,7450.0,493.45,493.45,470.00,471.00,472.00,471.00,14,8332000.0,510000.0,4050,-75,7912.05
2016-04-22,NIFTY,2016-04-28,CE,7450.0,451.35,457.25,449.40,451.10,457.25,451.10,7,4148000.0,237000.0,3825,-225,7899.30